@use '../abstracts/mixin' as mx;

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

::selection {
    background-color: rgb(255, 204, 0);
    color: rgb(36, 36, 38);
}

body {
    @include reset;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
