@use '../defined' as def;
@use '../mixin' as mx;
@use '../variables' as var;

body {
    display: block;
    max-width: def.$max-width;
    min-width: def.$min-width;
    white-space: nowrap;
    font-family: def.$font-sans;
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin: 0 auto;
    color: var.$text-color;
    background-color: var.$bg-color;
}

