
@use "../variables" as var;

%temp-hide {
    display: none;
}

%bg-inherit {
    background-color: inherit;
}

#main-cover {
    @extend %temp-hide;
    
    width: 98%;
    margin: 30px auto 30px auto;
    padding: 0;
    box-shadow: none;
    min-height: 212px;
    height: auto;
    @extend %bg-inherit;
    
    /**
     * Cover Photo
     * */
    
    // Cover Placeholder
    > .cover-place-holder {
        margin: 0 auto;
        width: 98%;
        min-height: 120px;
        
        @extend %bg-inherit;
    
        // Main cover photo
        img {
            box-shadow: var.$box-shadow-2;
            border-radius: 14px;
            width: 100%;
            @extend %bg-inherit;
        }
    }
    
    /**
     * Profile picture
     * */
     
    // Placeholder
    > .profile-place-holder {
        
        margin: 0;
        padding: 0;
        @extend %bg-inherit;
        
        // Main Image
        > img {
            @extend %bg-inherit;
            
            display: block;
            
            margin: -95px 0 auto 1.7rem;
            
            width: 110px;
            border-radius: 50%;
            box-shadow: var.$box-shadow-2;
        }
    }
}



