#main-activity-timeline {
    width: auto;
    max-width: $max-width;
    box-shadow: 1px 4px 8px rgba(52, 52, 54, 0.4);
    margin: auto;
    margin-top: 6%;
    padding: 10px 0;
    
    > div {
        width: 100%;
        overflow: hidden;
       
       > div {
           border: 2px solid $primary-border-dark;
           border-left: none;
           border-radius: 50px;
           height: 300px;
           position: relative;
           transform: translateX(-102%) scale(1.2);
           
       }
    }
   // display: none;
}