#primary-nav, #primary-nav > div {
    width: 100%;
    max-width: $max-width;
    min-width: $min-width;
    height: 55px;
    border: none;
    //border-top: 1px solid $primary-border-dark;
    box-shadow: 1px 4px 8px rgba(52, 52, 54, 0.2);
    margin: 0;
    padding: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    background-color: rgba(242, 242, 247, 0.5);
    z-index: 90;
    
    @media (prefers-color-scheme: dark) {
        background-color: rgba(52, 52, 54, 0.7);
    }

    @supports (backdrop-filter: blur(8px)) {
        backdrop-filter: saturate(180%) blur(20px);
        background-color: transparent;
    }
    
    
    &:before {
        z-index: -999;
        position: absolute;
        tranform: translteX(-50%);
        left: 50%;
        top: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: $max-width;
        min-width: $min-width;
        background-color: transparent;
        height: 55px;
    }
    @media only screen and (min-width: 650px) {
            display: none;
            z-index: -99;
    }
}

#primary-nav > div {
    > #burger {
        height: 45px;
        width: 45px;
        margin: 5px 5px 5px 12px;
        
        @media only screen and (min-width: 650px) {
            display: none;
            z-index: -99;
        }
        
        
        > input[type="checkbox"] {
            margin: 0;
            top: 0;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(2);
            z-index: 999;
            opacity: 0;
        }
        
        > .--menu-bars > span {
            width: 45px;
            height: 5px;
            background-color: rgb(72, 72, 74);
            @media (prefers-color-scheme: dark) {
                background-color: rgb(188, 188, 192);
            }
            position: absolute;
            border-radius: 7px;
            transition: 
                top linear .25s, 
                transform 0.18s ease-in-out .25s,
                opacity 0.25s ease-in-out .25s,
                background-color ease-in-out 0.25s;
            z-index: 93;
            
            &:nth-child(1) {
                top: 12px;
            }
            &:nth-child(2){
                top: 24px;
            }
            &:nth-child(3){
                top: 36px;
            }
        }
        
        // Handling Animation For Each Bar
      /*  > .--menu-bars > span:nth-child(1){
            transition: 
                top ease-in .25s,
                transform .25s ease-in-out .25s;
        } */
        
        
        > #nav-panel {
            width: 150px;
            height: calc(100vh - 55px);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 92;
            transform: translateX(-105%);
            transition: transform ease-in-out 0.5s;
            box-shadow: 1px 4px 8px rgba(52, 52, 54, 0.4);
            @media (prefers-color-scheme: dark) {
                background-color: rgb(52, 52, 54);
            }
        }
        > #nav-panel:after,
        > #nav-panel:before {
            position: fixed;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
            margin: 0;
            width: 100vw;
            content: '';
            overflow: hidden;
            transform: translateX(-105%);
            transition: transform ease-in-out 0.5s;
            z-index: 1;
            box-shadow: 1px 4px 8px rgba(52, 52, 54, 0.2);
        }
        
        > #nav-panel,
        > #nav-panel:before,
        > #nav-panel:after {
            background-color: rgba(229, 229, 234, 0.5);
            
            @media (prefers-color-scheme: dark) {
                background-color: rgba(52, 52, 54, 0.5);
            }
            
            height: calc(100vh - 50px);
        }
        > input[type="checkbox"]:checked ~ #nav-panel {
            transform: translateX(0%);
        }
        > input[type="checkbox"]:checked ~ #nav-panel:after {
            transform: translateX(0%);
        }
        > input[type="checkbox"]:checked ~ #nav-panel:before {
            transform: translateX(-47%); 
        }
        > input[type="checkbox"]:checked ~ .--menu-bars > span {
            background-color: rgb(255, 69, 58);
        }
        
        // Event
        > input[type="checkbox"]:checked ~ .--menu-bars > span:nth-child(1) {
            top: 24px;
            transform: rotate(45deg);
        }
        > input[type="checkbox"]:checked ~ .--menu-bars > span:nth-child(2) {
            opacity: 0;
            transform: rotate(180deg);
        }
        > input[type="checkbox"]:checked ~ .--menu-bars > span:nth-child(3) {
            top: 24px;
            transform: rotate(-45deg);
        }
    }
    
    #nav-panel-list {
        &:before, &:after {
            content: '';
        }
        
        background-color: transparent;
        position: relative;
        margin: 80px 7px 0 0;
        text-align: right;
        padding: 5px;
        z-index: 256;
        list-style-type: none;
        width: calc(100% - 12px);
        
        > li {
            &:first-child {
                text-align: center;
                > span {
                    width: 100%;
                    font-weight: 600;
                    font-size: 1.2rem;
                    color: $primary-head-color;
                    @media (prefers-color-scheme: dark) {
                        color: $primary-text-color-dark;
                    }
                }
            }
            width: 100%;
            position: relative;
            z-index: 21;
            padding: 8px 0 10px 0;
            
            &:not(:last-child){
                border-bottom: 1px solid $primary-border-dark;
            }
            > a {
                font-size: 14px;
                text-decoration: none;
                color: $primary-text-color;
                font-weight: 500;
                @media (prefers-color-scheme: dark) {
                    color: rgb(188, 188, 192);
                }
                &:hover, &:active {
                    background-color: transparent;
                    color: $primary-a-hover-color;
                }
            }
        }
    }
}
