/**
    <div id="main-introduction">
        <div>
            <p>&#34;Frustrating and hate but loved, that's how we describe what programming is... And also it's our passion. &#10084;&#65039;&#34;</p>
        </div>
    </div>
    
    <div id="main-about">
        <div>
            <p>Hi, I'm <span class="text-bold">Jovanni De Guia</span>, a future <span class="text-bold">Full Stack Developer</span>.</p>
            <p>I love to think deeper from the resources that we have to find what the world needs and how it can be a better product from the back to the front.</p>
        </div>
    </div>


 */
@use "../variables" as var;
@use "../mixin" as mx;

%temp-hide {
    display: none;
}

%default-props {
    padding: 1.2rem 1.6rem;
    margin: 0;
    box-sizing: border-box;
}

%default-props-2 {
    font-family: var.$default-font-family;
    line-height: 1.8rem;
    font-weight: 500;
    font-size: 1.2rem;
    font-style: italic;
    white-space: normal;
    text-indent: 1.4rem;
    text-align: center;
    color: var.$text-color;
}

#main-introduction {
    @extend %temp-hide;
    
    @include mx.component-box-shadow;
    
    > div {
        @extend %default-props;
        
        p {
            
            @extend %default-props-2;
            
            &:before {
                content: "\" ";
            }
            
            &:after {
                content: " \"";
            }
        }
    }
}

#main-about {
    @extend %temp-hide;
    
    @include mx.component-box-shadow;
    
    > div {
        
        @extend %default-props;
        
        p {
            @extend %default-props-2;
            text-align: left;
            font-size: 1rem;
            font-weight: normal;
            font-style: normal;
            
            span {
                font-weight: 700;
                font-family: "Caviar Dreams", "Sans-Serif";
            }
        }
        
        p:first-child {
            
        }
        
        p:last-child {
            
        }
    }
}