$max-width: 650px;
$min-width: 200px;
$primary-border-dark: rgb(172, 172, 174);
$primary-text-color: rgb(52, 52, 54);
$primary-a-hover-color: rgb(36, 36, 38);
$primary-head-color: rgb(28, 28, 39);
$primary-text-color-faded: rgb(99, 99, 102);
$primary-bg-color: rgb(242, 242, 247);
$primary-text-color-dark: rgb(188, 188, 192);