:root {
    --bg-color: rgb(242, 242, 247);
    --text-color: rgb(52, 52, 54);
    --text-color-hard: rgb(36, 36, 38);
    --title-text-color: rgb(28, 28, 39);
    --border-color:  rgb(172, 172, 174);
    --default-font-family: "Montserrat", "Caviar Dreams", "Sans-Serif";
    
    
    /**
     * Navigation Bar
     * */
    --box-shadow-1: 1px 4px 8px rgba(52, 52, 54, 0.2);
    --box-shadow-2: 1px 4px 8px rgba(52, 52, 54, 0.4);
    --burger-menu-open-color: rgb(255, 69, 58);
    --text-hover-transition-speed: 0.05s;
    --text-hover-transitioning: ease-in-out;
    
}
