@use "defined" as def;
@use "variables" as var;

@mixin prefers-color-scheme-handler {
    background-color: def.$primary-bg-color;
    color: def.$primary-text-color;
    
    @media (prefers-color-scheme: dark){
        background-color: def.$primary-bg-color-dark;
        color: def.$primary-text-color-dark;
    }
}


@mixin head-line-title {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--text-color);
    font-family: 'Montserrat', "Caviar Dreams", "Sans-Serif";
    line-height: 1.7rem;
    letter-spacing: 3px;
}

@mixin cursor-default {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
   supported by Chrome, Edge, Opera and Firefox */
  cursor: pointer;
}


@mixin restrict-sizing {
    max-width: def.$max-width;
    max-height: def.$max-height;
    min-width: def.$min-width;
    min-height: def.$min-height;
}

@mixin component-box-shadow {
    box-shadow: var.$box-shadow-1;
}

