/**
 *
 * Global Variable Interface
 *
 * */
$bg-color: var(--bg-color);
$text-color: var(--text-color);
$text-color-hard: var(--text-color-hard);
$title-text-color: var(--title-text-color);
$border-color: var(--border-color);
$default-font-family: var(--default-font-family);
$text-hover-transition-speed: var(--text-hover-transition-speed);
$text-hover-transitioning: var(--text-hover-transitioning);

$box-shadow-1: var(--box-shadow-1);
$box-shadow-2: var(--box-shadow-2);
$burger-menu-open-color: var(--burger-menu-open-color);

/**
$max-width: 650px;
$min-width: 200px;
$primary-border-dark: rgb(172, 172, 174);

$primary-a-hover-color: rgb(36, 36, 38);
$primary-head-color: rgb(28, 28, 39);
$primary-text-color-faded: rgb(99, 99, 102);

$primary-bg-color: rgb(242, 242, 247);
$primary-bg-color-dark: rgb(52, 52, 54);

$primary-text-color-dark: rgb(188, 188, 192);
$primary-text-color: rgb(52, 52, 54);


**/