/**
 *
 * Global Variable Interface
 *
 * */
$bg-color: var(--bg-color);
$text-color: var(--text-color);
$text-color-hard: var(--text-color-hard);
$title-text-color: var(--title-text-color);
$border-color: var(--border-color);
$default-font-family: var(--default-font-family);
$text-hover-transition-speed: var(--text-hover-transition-speed);
$text-hover-transitioning: var(--text-hover-transitioning);

$box-shadow-1: var(--box-shadow-1);
$box-shadow-2: var(--box-shadow-2);
$burger-menu-open-color: var(--burger-menu-open-color);

