#main-footer {
   // box-shadow: 0px -4px 8px rgba(52, 52, 54, 0.2);
    padding-bottom: 3rem;
    margin-top: 0;
    box-shadow: none;
    
    > div {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        
        &:first-child {
            > div:last-child {
                text-align: center;
                font-weight: 300;
                font-style: italic;
                font-size: 1rem;
                letter-spacing: 1px;
                
                p:before, p:after {
                    content: '"';
                }
            }
        }
        
        &.copyright {
            text-align: right;
            color: $primary-text-color;
            @media (prefers-color-scheme: dark) {
                color: $primary-text-color-dark;
            }
            p {
                font-family: "Helvetica", "Sans-Serif";
                font-style: italic;
                letter-spacing: 2px;
                font-weight: 400;
                color: $primary-text-color;
                @media (prefers-color-scheme: dark) {
                    color: $primary-text-color-dark;
                }
            }
        }
    }
}
